__pycache__/
*.p
*.h5
*.hdf5
logs*
.ipynb_checkpoints
*.mp4
/data
.vscode
*.mat
*.html

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
