tensorflow==1.12.2
numpy==1.16.4
pandas==0.24.2
joblib==0.13.2
Keras==2.2.4
seaborn==0.9.0
matplotlib==3.0.3
h5py==2.9.0
scipy==1.2.1
ipykernel==5.1.0
ipympl==0.2.1
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
wavelets @ git+https://github.com/aaren/wavelets@a213d7c307e0a6b5a40cc648d4e3f69c2e77c12b#egg=wavelets
